<div class="container" >
  <form class="loginForm" action="#" [formGroup]="loginForm" (ngSubmit)="Submit($event)">

    <div class="form-group" >
      <label for="unInput">Имя пользователя</label>
      <input id="unInput" type="text" class="form-control" placeholder="admin@example.com" formControlName="UserName"/>
    </div>

    <div class="form-group">
      <label for="pasInput">Пароль</label>
      <input id="pasInput" type="password" class="form-control" placeholder="1qaz@WSX" formControlName="Password"/>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Войти</button>
    <a routerLink="/registration">Создать аккаунт</a>
  </form>

</div>
