<div class="container" >
  <form class="regForm" action="#" [formGroup]="regForm" (ngSubmit)="Submit($event)">

    <div class="form-group" >
      <label for="unInput">Email</label>
      <input id="unInput" type="text" class="form-control" formControlName="Email"/>
    </div>

    <div class="form-group">
      <label for="pasInput">Пароль</label>
      <input id="pasInput" type="password" class="form-control" formControlName="Password"/>
    </div>

    <div class="form-group">
      <label for="pasConfirmInput">Подтверждение пароля</label>
      <input id="pasConfirmInput" type="password" class="form-control" formControlName="ConfirmPassword"/>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Создать аккаунт</button>
    <a routerLink="/login">На страницу входа</a>
  </form>
</div>
